body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://wallpapercave.com/wp/wp2608227.jpg);
  min-height: 100vh;
}

/* Images_____________ */

.detailsC-image {
  width: 80%;
}
.detailsP-image {
  width: 100%;
}
.detailsS-image {
  width: 100%;
}
